<div class="card">
    <div class="card-header text-success fw-bold">
        <h5>{{ productPageInfo.pageTitle }}</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-1">Filter By: </div>
            <div class="col-md-4">
                <input class="form-control form-control-sm" type="text" [(ngModel)]="listFilter" />
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6">
                <h4>Filter By: {{ listFilter }}</h4>
            </div>
        </div> -->

      
        <div class="table-responsive">
            <table class="table table" *ngIf='products.length'>
                <thead>
                    <tr>
                        <th>
                            <!-- <button class="btn btn-primary" (click)="toggleImage()"> -->
                            <button class="btn btn-primary shadow fw-bold" (click)="this.productPageInfo.showImage = !this.productPageInfo.showImage" [style.width.px]="productPageInfo.btnWidth">
                                {{productPageInfo.showImage ? 'Hide Image' : 'Show Image '}}
                            </button>
                        </th>
                        <th *ngFor="let headings of productsHeadings">{{headings.tHeadings}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let product of filteredProducts">
                        <td>
                            <img *ngIf="productPageInfo.showImage" [src]="product.imageUrl" [title]="product.productName" [alt]="product.productName" [style.width.px]="productPageInfo.imageWidth" />
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{product.releaseDate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{product.price | currency:'INR':'symbol':'2.2-2' | uppercase}}</td>
                        <td>
                            <pm-star 
                                [rating]="product.starRating" 
                                title="product.starRating"
                                (ratingclicked)="onRatingclicked($event)" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                            ></pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>